@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<SC82MVC.Models.SampleItem>

<div>
    <h1 class="contentTitle">
        @Editable(x => x.Title)
    </h1>
    <div class="contentDescription">
        @Editable(x => x.Text)
    </div>
</div>

